/* Stilizare generală a corpului paginii */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Culoare de fundal neutră */
  color: #333; /* Culoare text standard */
}

/* Stilizare pentru titluri */
h1,
h2,
h3 {
  margin-top: 0;
  color: #333; /* Culoare pentru titluri */
}

/* Stilizare pentru paragrafe */
p {
  margin: 0 0 1em 0;
}
